NEXT_PUBLIC_AUTH_API_URL=http://localhost:8085
NEXT_PUBLIC_CATALOG_API_URL=http://localhost:8081
NEXT_PUBLIC_INVENTORY_API_URL=http://localhost:8082
NEXT_PUBLIC_ORDER_API_URL=http://localhost:8083
NEXT_PUBLIC_CART_API_URL=http://localhost:8084
NEXT_PUBLIC_CUSTOMER_API_URL=http://localhost:8086
